<!DOCTYPE html>
%html lang="en"
  %head
    %meta charset="utf-8"
    %title << ComplimentMix - Random Compliment Generator, for Joy and Giggles.
    %meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" name="viewport"
    <!-- stylesheets -->
    %link href="static/style.css" rel="stylesheet" type="text/css"
    %link href="http://fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css"
    <!-- javascripts -->
    <!-- [if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
    %script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    %script src="//rawgithub.com/davatron5000/Lettering.js/master/jquery.lettering.js"
    %script src="//rawgithub.com/davatron5000/FitText.js/master/jquery.fittext.js"
    %script <<  $(document).ready(function(){$("h1").lettering();});
  %body
    .container
      %header
        %h1#fittext -> {{ compliment }}
    %script ->  $("h1").fitText(0.773);
